{% extends 'layout.server.view.html' %}

{% block content %}
<div class="container" ng-controller="AppCtrl as ac">
    <header class="row">
        <div class="text-center col-md-3">
            <a ui-sref="home">
                <img class="col-md-12 logo" src="dist/img/core/client/img/logo.png" />
            </a>
        </div>
    </header>

    <section class="row">
        <div class="col-md-3" ng-include=" 'app/sidebar/sidebar.tpl.html' "></div>

        <div class="col-md-9 content">
            <div ui-view></div>
        </div>
    </section>

    <footer class="row">
        <p class="col-xs-12">
            <i class="fa fa-wrench"></i> by <a href="https://github.com/pmigliaccio" target="_blank">@pmigliaccio</a>
        </p>
    </footer>
</div>
{% endblock %}