{% extends 'layout.server.view.html' %}

{% block content %}
<div class="main-container" ng-controller="AppCtrl as ac">
    <header class="col-lg-12">
        <div class="col-lg-3">
            <a ui-sref="home">
                <img class="col-lg-12 logo" src="dist/img/core/client/img/logo.png" />
            </a>
        </div>
    </header>

    <div class="col-lg-3" ng-include=" 'app/sidebar/sidebar.tpl.html' "></div>

    <div class="col-lg-9 content">
        <div ui-view></div>
    </div>

    <span class="col-xs-12 col-lg-offset-3 col-lg-9 loader" us-spinner spinner-key="spinner"></span>

    <footer></footer>
</div>
{% endblock %}