@import "modules/_all";
@import "partials/_all";

$spacer: 15px;
$footer-height: 60px;

body {
  background: url('img/core/client/img/bg.png');
  background-size: $spacer;
  background-repeat-y: no-repeat;
}

h3{
  margin-top: $spacer;
}

input[type=text], input[type=password]{
  width: 100%;
}

.container {
  margin-top: $spacer;
}

header {
  margin: ($spacer * 2) 0;
}

.logo {
  max-width: 300px;
}

.sidebar{
  margin-top: 15px;
  background-color: $color-grey;
}

.content{
  position: relative;
  margin-bottom: $footer-height;
}

footer {
  bottom: 0;
  height: $footer-height;
  margin-top: -$footer-height + ($spacer * 2);
  padding-top: $footer-height;
}