@import "modules/_all";
@import "partials/_all";

$spacer: 15px;
$footer-height: 60px;

body {

  /* bg (:before for IOS FIX) */
  &:before{
    background: $color-main-dark;
    height: $spacer;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

h3{
  margin-top: $spacer;
}

input[type=text], input[type=password]{
  width: 100%;
}

.container {
  margin-top: $spacer;
}

header {
  margin: ($spacer * 2) 0;
}

.logo {
  max-width: 300px;
}

.sidebar{
  margin-top: 15px;
  background-color: $color-grey;
}

.content{
  position: relative;
  margin-bottom: $footer-height;
}

footer {
  bottom: 0;
  height: $footer-height;
  margin-top: -$footer-height + ($spacer * 2);
  padding-top: $footer-height;
}