<div class="row">
    <h3 class="col-md-12 col-lg-4">Shipments</h3>
    <div class="col-md-6 col-lg-4">
        <select class="form-control" ng-options="status.name for status in oc.statuses" ng-change="oc.statusChange()" ng-model="oc.status"></select>
    </div>
    <div class="col-md-6 col-lg-offset-2 col-lg-2 text-right">
        <button class="col-xs-12 btn btn-info" type="button" ng-csv="oc.orders" filename="Orders_Report.csv">Export <i class="fa fa-download"></i></button>
    </div>
</div>

<div class="col-lg-12 orders-list" ng-show="oc.orders.length">

    <div class="row header-row">
        <div class="col-sm-3 col-lg-1">#</div>
        <div class="col-sm-3 col-lg-3">Shipping To</div>
        <div class="col-sm-6 col-lg-8">
            <div class="row">
                <div class="col-sm-6 col-lg-5">SKU</div>
                <div class="col-sm-6 col-lg-5">Item</div>
                <div class="col-sm-12 col-lg-2">Weight</div>
            </div>
        </div>
    </div>

    <div class="row order-row" ng-repeat="order in oc.orders">
        <div class="col-sm-3 col-lg-1">{{ order.orderNumber }}</div>
        <div class="col-sm-3 col-lg-3 text-capitalize">{{ order.shipTo.name }}</div>
        <div class="col-sm-6 col-lg-8">
            <div class="row" ng-repeat="item in order.items">
                <div class="col-sm-6 col-lg-5">{{item.sku}}</div>
                <div class="col-sm-6 col-lg-5">{{item.name}}</div>
                <div class="col-sm-12 col-lg-2">{{item.weight.value}} {{item.weight.units}}</div>
            </div>
        </div>
    </div>

</div>
