@import "modules/all";
@import "vendors/all";
@import "partials/all";

$footer-height: 60px;

html, body{
  height: 100%;
}

body{
  background: url('../images/sleeve.png') repeat-x center center fixed #fcfbfa;
}

h3{
  margin-top: 10px;
}

input[type=text], input[type=password]{
  width: 100%;
}

.main-container {
  position: relative;
  min-height: 100%;
  padding-right: ($main-width - $inner-width)/2;
  padding-left: ($main-width - $inner-width)/2;
  max-width: $main-width;
  margin: auto;

  background-color: #fff;
}

.header {
  margin-top: $spacer * 2;
  margin-bottom: $spacer;
}

.content{
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  margin-top: -$footer-height;
  padding-top: $footer-height;
}