.text-xs-left {
  text-align: left; }

.text-xs-right {
  text-align: right; }

.text-xs-center {
  text-align: center; }

.text-xs-justify {
  text-align: justify; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left; }
  .text-sm-right {
    text-align: right; }
  .text-sm-center {
    text-align: center; }
  .text-sm-justify {
    text-align: justify; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-md-left {
    text-align: left; }
  .text-md-right {
    text-align: right; }
  .text-md-center {
    text-align: center; }
  .text-md-justify {
    text-align: justify; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left; }
  .text-lg-right {
    text-align: right; }
  .text-lg-center {
    text-align: center; }
  .text-lg-justify {
    text-align: justify; } }

select, button, input {
  margin-top: 10px; }

.text-xs-left {
  text-align: left; }

.text-xs-right {
  text-align: right; }

.text-xs-center {
  text-align: center; }

.text-xs-justify {
  text-align: justify; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left; }
  .text-sm-right {
    text-align: right; }
  .text-sm-center {
    text-align: center; }
  .text-sm-justify {
    text-align: justify; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-md-left {
    text-align: left; }
  .text-md-right {
    text-align: right; }
  .text-md-center {
    text-align: center; }
  .text-md-justify {
    text-align: justify; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left; }
  .text-lg-right {
    text-align: right; }
  .text-lg-center {
    text-align: center; }
  .text-lg-justify {
    text-align: justify; } }

ul.nav {
  margin-top: 8px;
  margin-bottom: 1.618em;
  border-bottom: 0; }

ul.nav > li a {
  font-weight: 200;
  text-transform: uppercase;
  color: #2f2f31;
  background: #fff !important;
  font-size: 110%;
  letter-spacing: 0.1em;
  padding: 3px 17px 3px 17px;
  border: 1px solid #fff;
  border-radius: 0;
  -webkit-transition: all 0.3s ease 0s;
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transition: all 0.3s ease 0s;
  /* IE 9 */
  transition: all 0.3s ease 0s; }

ul.nav > li:hover a, ul.nav > li.active a {
  border: 1px solid #AAAEB4 !important;
  color: #82858a !important;
  font-weight: 200;
  background-color: #fff !important; }

ul.nav > li.active a {
  color: #232323 !important; }

.nav-pills > li + li {
  margin: 0; }

.orders-list {
  margin-top: 20px; }
  .orders-list > div:nth-of-type(2n + 1) {
    background-color: #e7e7e7; }

.header-row {
  font-weight: 600; }

.order-row, .header-row {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #ddd; }

html, body {
  height: 100%; }

body {
  background: url("../images/sleeve.png") repeat-x center center fixed #fcfbfa; }

h3 {
  margin-top: 10px; }

input[type=text], input[type=password] {
  width: 100%; }

.main-container {
  position: relative;
  min-height: 100%;
  padding-right: 67.5px;
  padding-left: 67.5px;
  padding-bottom: 3.236em;
  max-width: 1095px;
  margin: auto;
  background-color: #fff; }

.header {
  margin-top: 3.236em;
  margin-bottom: 1.618em; }

.content {
  margin-bottom: 60px; }

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: -60px;
  padding-top: 60px; }
