@import "modules/all";
@import "vendors/all";
@import "partials/all";

html, body{
  height: 100%;
}

body{
  background: url('../images/sleeve.png') repeat-x center center fixed #fcfbfa;
}

input[type=text], input[type=password]{
  width: 100%;
}

.main-container {
  min-height: 100%;
  padding-right: ($main-width - $inner-width)/2;
  padding-left: ($main-width - $inner-width)/2;
  max-width: $main-width;
  margin: auto;

  background-color: #fff;
}

.header {
  margin-top: $spacer * 2;
  margin-bottom: $spacer;
}

.footer {
  margin: 25px 0 5px;
}