@import "../modules/all";

ul.nav {
  margin-top: 8px;
  margin-bottom: $spacer;
  border-bottom: 0;
}

ul.nav > li {
  a {
    font-weight: 200;
    text-transform: uppercase;
    color: #2f2f31;
    background: #fff !important;
    font-size: 110%;
    letter-spacing: 0.1em;
    padding: 3px 17px 3px 17px;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-transition: all 0.3s ease 0s; /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transition: all 0.3s ease 0s; /* IE 9 */
    transition: all 0.3s ease 0s;
  }

  &:hover a, &.active a{
    border: 1px solid #AAAEB4 !important;
    color: #82858a !important;
    font-weight: 200;
    background-color: #fff !important;
  }

  &.active a{
    color: #232323 !important;
  }
}

.nav-pills>li+li {
  margin: 0;
}