<table class="col-lg-12 table table-striped totals-view">
    <tr>
        <th colspan="1"><h4>Weight Totals</h4></th>
        <th colspan="1" class="text-right">
            <button class="btn btn-info" type="button" ng-csv="tc.totals" filename="Totals_Report.csv">Export</button>
        </th>
    </tr>

    <tr>
        <th>Item</th>
        <th>Total Weight</th>
    </tr>

    <tr ng-repeat="total in tc.totals | orderBy : 'item_name'">
        <td>{{ total.item_name }}</td>
        <td>{{ total.total_weight }} {{total.item_weight_units}}</td>
    </tr>
</table>