.orders-list {
  margin-top: 20px;

  > div:nth-of-type(2n + 1){
    background-color: #e7e7e7;
  }
}

.header-row{
  font-weight: 600;

  @extend .order-row;
}

.order-row{
  padding-top: 8px;
  padding-bottom: 8px;

  border-top: 1px solid #ddd;
}